 * {
      
     
      font-family: Arial, sans-serif;
    }

.contener {
display: flex;
height: 200vh;
background-color: #f7f7f7;

}

.header
{
      width: 300px;
      background-color: #ffffff;
      border-right: 1px solid #ccc;
      padding: 20px;
}

.header span
{
      font-size: 50px;
      color: #0077b6;
      font-weight: bold;
}
.header span:last-child
{
  color: #db7735;
}
.timkiem 
{
  padding: 20px;
  border: 1px solid #aaa;
}
.timkiem  input
{
  padding: 8px;
      margin-right: 10px;
      border: 1px solid #b6afaf;
}
.timkiem button
{
  padding: 8px ;
      background-color: #0077b6;
      color: #fff;
      border: none;
      cursor: pointer;
      margin: 10px 0 0 750px ;
}

.menu ul  {
  list-style: none;
  
} 
.menu li
{
  margin-bottom: 10px;
}
.menu a
{
  color: #080808;
  text-decoration: none;
}
.top
{
   background-color: #fff9f9;
      border-bottom: 1px solid #ccc;
      width: 100%;

}
.top p {
  
  text-align: right;
}
.content
{  
  

   padding: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
    
    
  }
  th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #d3caca;
  }
  .timkiem
  {
    display: flex;
  }